@model IEnumerable<Book>

<h3 class="p-2 bg-primary text-white text-center">Books</h3>
<div class="text-center">
    @await Html.PartialAsync("Pages", Model)
    @{
        ViewBag.searches = new[] { "Title", "Category.NameEng", "Publisher.Name" };
        ViewBag.sorts = new [] { "Title", "Category.NameEng", "Publisher.Name", "PurchasePrice", "RetailPrice"};
    }
    @await Html.PartialAsync("PageOptions", Model)
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-1 font-weight-bold">Id</div>
        <div class="col font-weight-bold">Name</div>
        <div class="col font-weight-bold">Category</div>
        <div class="col font-weight-bold">Publisher</div>
        <div class="col font-weight-bold text-right">Purchase Price</div>
        <div class="col font-weight-bold text-right">Retail Price</div>
        <div class="col"></div>
    </div>

    @foreach (var book in Model)
    {
        <div class="row p-2">
            <div class="col-1">@book.Id</div>
            <div class="col">@book.Title</div>
            <div class="col">@book.Category.NameEng</div>
            <div class="col">@book.Publisher.Name</div>
            <div class="col text-right">@book.PurchasePrice</div>
            <div class="col text-right">@book.RetailPrice</div>
            <div class="col">
                <form asp-action="Delete" method="post">
                    <a asp-action="UpdateBook" asp-route-key="@book.Id" class="btn btn-outline-primary">Edit</a>
                    <input type="hidden" name="Id" value="@book.Id" />
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    }
    <div class="text-center p-2">
        <a asp-action="UpdateBook" asp-route-key="0" class="btn btn-primary">Add</a>
    </div>
</div>