@model IEnumerable<Book>
<h3 class="p-2 bg-primary text-white text-center">Seed Data</h3>
<form method="post">
    <div class="form-group">
        <label>Number of Objects to Create</label>
        <input class="form-control" name="count" value="50" />
    </div>
    <div class="text-center">
        <button type="submit" asp-action="CreateSeedData" class="btn btn-primary">
            Seed Database
        </button>
        <button asp-action="ClearData" class="btn btn-danger">
            Clear Database
        </button>
    </div>
</form>
<h5 class="text-center m-2">
    There are @ViewBag.Count products in the database
</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 font-weight-bold">Id</div>
        <div class="col font-weight-bold">Title</div>
        <div class="col font-weight-bold">Category</div>
        <div class="col font-weight-bold">Publisher</div>
        <div class="col font-weight-bold text-right">Purchase</div>
        <div class="col font-weight-bold text-right">Retail</div>
    </div>
    @foreach (var book in Model)
    {
        <div class="row">
            <div class="col-1">@book.Id</div>
            <div class="col">@book.Title</div>
            <div class="col">@book.Category.NameEng</div>
            <div class="col">@book.Publisher.Name</div>
            <div class="col text-right">@book.PurchasePrice</div>
            <div class="col text-right">@book.RetailPrice</div>
        </div>
    }
</div>